html {
  font-size: 16px;
}

body {
  background-color: black;
}

.instrument {
  height: 10rem;
  width: 60rem;
  margin: 5rem auto;
}

.noteC, .noteD, .noteE, .noteF, .noteG, .noteA, .noteB {
  cursor: pointer;
  font-size: 3rem;
  width: 8rem;
  height: 8rem;
  margin: 0;
  padding: 0;
  border: 3px solid currentColor;
}

.note:focus { outline: none; }

.noteC { background-color: #3e181b; color: #db1d2d; }
.noteC:hover { background-color: #661920; }
.noteC:active, .noteC.active { background-color: #db1d2d; }

.noteD { color: #f0421c; background-color: #422018; }
.noteD:hover { background-color: #6e2819; }
.noteD:active, .noteD.active { background-color: #f0421c; }

.noteE { color: #fec02d; background-color: #45391b; }
.noteE:hover { background-color: #735b20; }
.noteE:active, .noteE.active { background-color: #fec02d; }

.noteF { color: #20d071; background-color: #193c29; }
.noteF:hover { background-color: #1b613b; }
.noteF:active, .noteF.active { background-color: #20d071; }

.noteG { color: #1a9ddb; background-color: #18323e; }
.noteG:hover { background-color: #184d65; }
.noteG:active, .noteG.active { background-color: #1a9ddb; }

.noteA { color: #a13fad; background-color: #331f35; }
.noteA:hover { background-color: #4e2753; }
.noteA:active, .noteA.active { background-color: #a13fad; }

.noteB { color: #f26fd4; background-color: #43293d; }
.noteB:hover { background-color: #6f3a62; }
.noteB:active, .noteB.active { background-color: #f26fd4; }
